<div class="container">
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
</div>
<img class="img-fluid" src="assets/images/pharmacieByNight%20(3).jpg" alt="Super Wide pharmacie picture">

<article class="container">
  <header>
    <h1>Apothekenfinder</h1>
    <h3>- Die richtige Apotheke mit einem Click</h3>
  </header>

  <div class="row">
    <div class="col">
    </div>
    <section class="col-10">
      <h2>Apotheken suchen</h2>
      <article>
        Kennen Sie dieses Problem? Sie kommen gerade von Ihrem Arzt und wollen lediglich Ihr Medikament holen, doch die Apotheke, bei der Sie sind, hat es nicht vorrätig. Nun heißt es entweder warten oder die nächste Apotheke aufsuchen.
      </article>
      <article>
        Mit unserem Apothekenfinder werden Sie diesem Problem nie wieder begegnen. Nach einer kurzen Registrierung können Sie ganz bequem nach Apotheken in Ihrer Nähe suchen, die garantiert das richtige Medikament auf Lager haben.
      </article>
      <article>
        Unter dem Menüpunkt <a class="link-primary" routerLink="/suchen" href="#">Suchen</a> haben Sie die Möglichkeit Apotheken in Ihrer Umgebung zu finden und mit der Angabe der Pharmazentralnummer Ihres Arzneimittels zu filtern. So kommen Sie garantiert zur passenden Apotheke.
      </article>
      <img src="assets/images/bestand%20(3).jpg" class="img-fluid" alt="Responsive image">
      <h2>Bestand verwalten</h2>
      <article>
        Apotheken haben die Möglichkeit mit wenigen Clicks Ihren Bestand aufzuzeichnen und digital zu verwalten. Fügen Sie ohne Umwege neue Arzneimittel hinzu oder löschen Sie diese.
      </article>
      <article>
        Unter <a class="link-primary" routerLink="/medikamente" href="#">Bestand</a> können Sie neue Medikamente Ihrem Sortiment hinzufügen, die Anzahl einer Medikamentensorte ändern oder aber es gänzlich entfernen, so haben die Nutzer dieser Webseite Auskunft über die Verfügbarkeit von ausgewählten Arzneimitteln.
      </article>
    </section>
    <div class="col">
    </div>
  </div>
</article>

