<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap User Management Data Table</title>
</head>
<body>
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-5">
            <h2>Medizin <b>Management</b></h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>PZN</th>
          <th>Name</th>
          <th>Menge</th>
          <th>Form</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medicine of medicineAmountMap | keyvalue">
          <td>{{medicine.key}}</td>
          <td>{{medicine.key.friendlyName}}</td>
          <td>{{medicine.value}}</td>
          <td>{{medicine.key.medicineForm}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
