<article class="container">
  <header>
    <h1>Über uns</h1>
  </header>

  <div class="row">
    <div class="col">
    </div>
    <section class="col-10">
      <h2>Entwickler</h2>
      <article>
      Diese prototypsche Webanwendung wurde im Zuge eines Projektes von uns (Carl Horst, Florian Korch und Justin Grothe), drei Bachelor-Studenten der HTW Berlin entwickelt, um das Finden von Apotheken zu erleichtern. Wir studieren Angewandte Informatik im Fachbereich 4 am Campus Wilhelminenhof und haben im Rahmen des Moduls Webentwicklung diese Anwendung entwickelt. Bei Fragen wenden Sie sich bitte an: Justin.Grothe@Student.HTW-Berlin.de
      </article>
      <h2>HTW Berlin</h2>
      <article>Die Hochschule für Technik und Wirtschaft Berlin (HTW Berlin) ist mit fast 14.000 Studierenden und über 500 Beschäftigten die größte staatliche Fachhochschule Berlins und Ostdeutschlands. Es existieren etwa 70 Studienangebote in den Bereichen Technik, Informatik, Wirtschaft, Kultur und Gestaltung. Die HTW Berlin verteilt sich auf zwei Standorte: den Campus Treskowallee in Berlin-Karlshorst und den Campus Wilhelminenhof in Berlin-Oberschöneweide. (Quelle Wikipedia)</article>
    </section>
    <div class="col">
    </div>
  </div>
</article>


